@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    background-image: url("https://th.bing.com/th/id/OIP.H06cDgjBFnSlsUmfBCs_iQHaHa?pid=ImgDet&rs=1");
    font-family: 'Style Script', cursive;
    max-width: 800px;
    margin: auto;
}
h1{
    font-family: 'Anton', sans-serif;
    color: violet;
}
a{
    text-decoration: none;
    color: purple;
}
a:hover{
    color: orange;
}
h2{
    color: blueviolet;
}